@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;  
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;    
    background: #eeeeee;
}

h1 {
    text-align: center;
    font-size: 3em;
}

header {
    /*  */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2em;
    width: 80%;
    padding-left: 10%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5em;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2em;
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.item.clicado {
    background: #d4f6d9;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}

.delete {
    background: red; 
    color: white;      
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    font-size: 1.2em;
}

.mdi-check-circle {
    color: green;   
}